.card {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 100px;
    margin: 0 auto;

    &__content {
        background-color: red;
        border-radius: 50%;
        height: 100px;
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
    }

    &__description {
        font-size: 16px;
        text-align: center;
    }
}