.card {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 100px;
    margin: 0 auto;

    &__content {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
    }
}